body{
    background-color: beige; border:dotted;padding: 1em;
   
}

p, h1, h3, ol, ul{font-family: Arial, Helvetica, sans-serif;
color: darkgrey;font-size: 27px;line-height: 1.4em;margin: 24px; width:1200px;text-align: left;}
h1{font-size: 3rem}
